<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label>
        name:
        <input type="text" placeholder="Fadi RATA" formControlName="username">
      </label>
    </div>
    <div formGroupName="credentials">
      <label>
        email:
        <input type="email" placeholder="fadi@mail.fr" formControlName="email">


        {{ userForm.get('email').errors/email.rules }}


        <div *ngIf="userForm.get('email').errors && !userForm.get('userForm.email').pristine">
          <div [hidden]="!userForm.get('email').invalid">password is invalid.</div>
        </div>
      </label>
    </div>
    <div>
      <label>
        password:
        <input type="password" placeholder="*****" formControlName="password">
      </label>
    </div>
    <div formGroupName="adress">
      <div>
        Adress
      </div>

      <div>
        <label>
          Street:
          <input type="text" placeholder="711-2880 Nulla St. Mankato" formControlName="street">
        </label>
      </div>
      <div>
        <label>
          zipCode:
          <input type="number" placeholder="95633" formControlName="zipCode">
        </label>
      </div>
      <div>
        <label>
          Country:
          <input type="text" placeholder="Mississipi" formControlName="country">
        </label>
      </div>
    </div>
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
</div>



<button (click)="click()">  trigger shot </button>
